<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- f o n t -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- i c o n o s -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />
    <!-- v i e w p o r t -->
    <meta name="viewport" content="width=device-diw th, initial-scale=1">
</head>
<body>

    <!-- h e a d e r -->
    <header>
        <div class="container">

            <div class="cont-movil">

            <div class="logo">
                <a href="/" class="home"><img src="/images/logo-mercado-liebre.svg" alt="Logo ML"></a>
            </div>

            <!-- s e a r c h b a r -->
            <div class="busqueda">
                <form>
                <input class="searchBar" type="text" placeholder="Buscar productos, marcas"><br>
                <button class="searchButton"><i class="fas fa-search"></i></button>
            </form>
            </div>

            <div class="compra-cuotas">
                <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas sin tarjeta de crédito</p>
            </div>
        </div>
        
        <nav>
            <div class="nav-content">
                
                <ul class="nav-left">
                    <li><a href="/#" class="enlaces">Ofertas</a></li>
                    <li> <a href="/#" class="enlaces">Tiendas Oficiales</a></li>
                    <li><a href="/#" class="enlaces">Vender</a></li>
                    <li><a href="/#" class="enlaces">Ayuda</a></li>
                </ul>


                <ul class="nav-right">
                    <li><a href="/register" class="enlaces">Crea tu cuenta <i class="far fa-address-card"></i></a></li>
                    <li> <a href="/login" class="enlaces">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                    <li><a href="/#" class="enlaces">Mis compras <i class="fas fa-shopping-basket"></i></a></li>

                </ul>


                <!-- m e n u  h a m b u r g u e s a -->
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <form action="/register" method="GET">
            <div class="formRegister">
            <input type="text" name="nombreApellido" placeholder=" Nombre y apellido" class="inputText" required>
            <input type="text" name="usuario" placeholder=" Nombre de usuario" class="inputText" required>
            <input type="email" name="email" placeholder=" E-mail" class="inputText">
            <label for="fechaNacimiento" class="subtitulos">Fecha de nacimiento</label>
            <input type="date" name="fechaNacimiento" class="inputText" required>
            <input type="text" name="domicilio" placeholder=" Domicilio" class="inputText" required>

            <input type="password" name="contraseña" placeholder=" Contraseña" class="inputText" required>
            <input type="password" placeholder=" Reingrese su contraseña" class="inputText" required>

            <label for="perfilUsuario" class="subtitulos">Perfil del usuario</label>
            <input type="radio" value="comprador" name="perfilUsuario" id="comprador" class="seleccionPerfil" required>
            <label for="comprador">Comprador</label>
            <input type="radio" value="vendedor" name="perfilUsuario" id="vendedor" class="seleccionPerfil" required>
            <label for="vendedor">Vendedor</label>

            <label for="intereses"  class="subtitulos">Categorías de interés</label>
            <div class="catIntereses">
                <input type="checkbox" name="intereses" value="Electro" class="seleccion">
                <label for="intereses">Electro</label>
            </div>

                <div class="catIntereses">
                <input type="checkbox" name="intereses" value="Moda" class="seleccion">
                <label for="intereses">Moda</label>
            </div>

                <div class="catIntereses">
                <input type="checkbox" name="intereses" value="Hogar" class="seleccion">
                <label for="intereses">Hogar</label>
            </div>

                <div class="catIntereses">
                <input type="checkbox" name="intereses" value="Juguetería" class="seleccion">
                <label for="intereses">Juguetería</label>
            </div>

                <div class="catIntereses">
                <input type="checkbox" name="intereses" value="Vida sana" class="seleccion">
                <label for="intereses">Vida sana</label>
                </div>

            <label for="fotoPerfil"  class="subtitulos">Selecciona una foto de perfil</label>
            <input type="file" name="fotoPerfil" accept=".jpg" class="image" required>

            <button type="submit" name="submit">Enviar</button>
            <button type="reset" name=" reset">Eliminar</button>
        </div>
        </form>
    </main>

    <!-- f o o t e r -->
    <footer>
        <section class= "info-footer">
            <div>
                <i class="fas fa-credit-card"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro! </p>
            </div>
            <div>
                <i class="fas fa-gift"></i>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>Solo por estar registrada en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fas fa-user-shield"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido</p>
            </div>
        </section>
        <p class="copyright">Copyright © 1999-2021 MercadoLiebre S.R.L.</p>
    </footer>
</body>

</html>